<!-- ======= Services Section ======= -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center text-center mb-4">
      <div class="col-5">
        <h3 class="h3 heading">Meus Serviços</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
      </div>
    </div>
    <div class="row">

      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <!--<span class="la la-cube la-3x mb-4"></span>-->
        <img class="icones" src="assets/img/Icones/sobrancelha.png" alt="sobrancelha">
        <h4 class="h4 mb-2">Sobrancelha</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
        <ul class="list-unstyled list-line">
          <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
          <li>Non pariatur nisi</li>
          
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <!--<span class="la la-mobile la-3x mb-4"></span>-->
        <img class="icones" src="assets/img/Icones/bisturi.png" alt="bisturi">
        <h4 class="h4 mb-2">Dermaplaning</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
        <ul class="list-unstyled list-line">
          <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
          <li>Non pariatur nisi</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <!--<span class="la la-image la-3x mb-4"></span>-->
        <img class="icones" src="assets/img/Icones/tratamento-de-beleza.png" alt="Limpera de pele">
        <h4 class="h4 mb-2">Limpeza de pele</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
        <ul class="list-unstyled list-line">
          <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
          <li>Non pariatur nisi</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <!--<span class="la la-search la-3x mb-4"></span>-->
        <img class="icones" src="assets/img/Icones/tratamento_1.png" alt="Depilação buço">
        <h4 class="h4 mb-2">Depilação buço</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
        <ul class="list-unstyled list-line">
          <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
          <li>Non pariatur nisi</li>
        </ul>
      </div>
    </div>
  </div>
</section><!-- End Services Section -->